
.navbar{
    margin-left:-30px;
    border:none;
    border-radius:0px;
}
.navbar-nav li{padding-left:10px}
.form-control{ border-radius:0px;size: 0px}
.content{margin-top:10px;margin-left: 20px}
.borderclass{	border: 3px solid whitesmoke;height:250px;margin:5px 0px 5px 5px;}
.lineclass{
	border:2px solid gray;height:200px;width:2px;margin-left:50px;margin-top:20px
}

.row{
	padding-top:10px; 
}


input.form-control
{
	background-color:#fff;
		width:100%;
		height: 28px;
		border-radius: 0px;
		font-size:12px;
		font-weight:bold;
	  box-shadow: 2px 3px #505255;
}
select.form-control
	{   
		background-color:#a5a6a8;
		width:100%;
		height: 28px;
		font-size:12px;
		font-weight:bold;
		border-radius: 0px;
		box-shadow: 2px 3px #505255;
	}
  input{
		background-color:#fff;
			margin-top: 10px;
			width:80%;
			height: 28px;
			font-size:12px;
			font-weight:bold;
			box-shadow: 2px 3px #505255;
	}
	select
		{   
			background-color:#a5a6a8;
			margin-top: 10px;
			width:80%;
			border-radius:0px;
			height: 28px;
			font-size:12px;
			font-weight:bold;
			box-shadow: 2px 3px #505255;
		}
  