/* ------------------------------------------------------------ */
   
.horizontal {
    border-bottom: 1px solid lightgray;    
    width:300px;
    margin-left:3px;
   /*  border-left: -10px; */
   
  }
  .iconTop{
    margin-left:-30px;
  }
  .labelIndent{
    margin-left: 10px;
  }
  .mat-icon {cursor: pointer;}
  
  .mat-icon:hover,.mat-icon:active {
    color: rgb(104, 104, 236);   
  }

  .mat-iconB{
    margin-left:-34px;
    color: black;  
  }
  
  .pag-text-align{
    padding-left: 7px;
    font-weight: 500;
    padding-top: 3px;
    font-size: 18px;
  }
  
  
  .material-iconsA{
    color:#ffbb60;
    margin-left:-13px;
  }
  
  .centerText{
    margin-left: px;
    width:71%;
    padding-left:0px;
    margin-left:2px;
    margin-top:3px;
    color: blacks
    
  }
  
  .container-bg{
    background-color: lightgrey;   
    width:319px;
    border: 2px solid grey;
    border-radius:4px;  
  }
  
  .first-raised-button{
    width:40px;
    margin-left:43px;
    background-color: grey;
    
  }
  .first-raised-button:hover{  
    color: white;
  }
  .second-raised-button{
    background-color: grey;
    margin-left:39.6px;
  }
  
  .second-raised-button:hover{
    color: white;
  }
  
  .container1{
    background-color: gainsboro;
  }
  
  .inputField{
    width:121px;
    margin-left:8px;
  }
  
  .label-padding{
    padding-left:38px;
    
  }
  .form-width{
    width:webkit-fill-available;
  }
  
  .headingA{
    background-color:white;height:28px;
    border:2px solid grey;
    margin-left: 0px;
    width: 319px;
    border-radius:4px; 
    border-bottom:0px;
    padding-left:-6px;
  }
  
  .centerText{
    width:68%;
    color: white;
    padding-left:-5px;
  }
  
  .inputAlign{
    width:  124.666667%;;
    margin-left: -22px;
  }


  .buttonDefault
    { 
		background: grey;
		color: white;
		/* margin-bottom: 10px;
		margin-left:20px; */
		font-weight:bold;
      border-radius: 1px;
      height: 32px;
    box-shadow: 2px 4px #505255;
    
  }
  
  .inputTag
  {
     background-color:#fff;
     width:120%;
      height: 28px;
      border-radius: 0px;
      font-size:14px;
      font-weight:bold;
     box-shadow: 2px 3px #505255;
  }

  .fontSize{
    font-size: 14px;
  }