<div class="col-sm-2">
  <div class="left-nav sidebar">
    <ul>
      <li>
        <button class="btn btn-default" routerLink="/irdBlotter" routerLinkActive="active">IRD Blotter</button>
      </li>
      <li>
        <button  class="btn btn-default">CRD Blotter</button>
      </li>
      <li>
        <button  class="btn btn-default">FX Blotter</button>
      </li>
      <li>
        <button  class="btn btn-default">EQ Blotter</button>
      </li>
      <li>
        <button  class="btn btn-default">CASH Blotter</button>
      </li>
    </ul>
  </div>
</div>