.emp__image {
    height: 200px;
    width: 200px;
    border-radius: 3px;
}

.image--alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    transition: box-shadow .5s, ;
}

img:hover {
/*   box-shadow: 0 10px 5px 0.5px rgba(0, 0, 0, 0.596); */
    transform: scale(1.005);
    cursor: pointer;
}

img:active {
    box-shadow: 0 5px 2.5px 0.25px rgba(0, 0, 0, 0.534);
}

.panel {
    transition: box-shadow 0.5s ease-out, transform 0.3s ease-out;
}

.panel:hover {
    box-shadow: 0 10px 5px 0.5px rgba(0, 0, 0, 0.5);
    transform: scaleX(1) scaleY(1);
}
