.container-bg{
    background-color: lightgrey;
    height: 495px;
    border: 2px solid green;
    margin: 2px;
    border-radius: 5px;
 
 }
 .paymentButton{
    margin-bottom:-25px;
    
    margin-left: 908px;
    background-color: #0021bb;
   
    
 }

 .paymentButtonB{
    margin-bottom:-15px;
 /*    margin-left: 939px; */
    margin-top:21px;   
    margin-left: 922px;
    background-color: #0021bb;
    color: white;
    margin-left: 908px;
    /* width:30px; */
 }

 

 table{width:93%}
 
 .downButtons{
    margin-top: -34px;
 }

 
.downButton{
    margin-bottom:3px;
 }

 .mat-raised-button{
    background-color: grey;
 }

 .table-bordered {
    border: 2px solid #fff !important;
 }
  

.bg-color-name{
    background-color:slategrey;height: 30px;
  }

  .material-iconsA{
    color:white;
    margin-left: 6px;
    margin-top: 2px;
  }

  
 .pag-text-align{
    padding-left:-80px;
    font-weight:600;
    padding-top:3px;
    font-size: 15px;
    margin-left: -150px;
    color:white;
 }

 .mat-iconB{
    padding-left:3px;
    color: white;
    margin-top: 3px;
    margin-left: 463px;
    cursor: pointer;
  }

  .mat-icon
  {
      
     cursor: pointer;
  }

  .mat-icon:hover,.mat-icon:active {
    color:black;   
  }

.fisrtRow
{
    width: 1034px;
}

.inputTag
{
   background-color:#fff;
   width:100%;
    height: 28px;
    border-radius: 0px;
    font-size:14px;
    font-weight:bold;
   box-shadow: 2px 3px #505255;
}

.buttonDefault
{ 
  background: grey;
  color: white;
  /* margin-bottom: 10px;
  margin-left:20px; */
  font-weight:normal;
  border-radius: 1px;
  height: 32px;
box-shadow: 2px 4px #505255;

}

.table-scrollbar{
   max-height:230px;
   overflow-y:auto;
   display:block;
   
   }

   .fontSize{
      font-size: 14px;
   }